#lables {
    margin-top: 1%;
    font-size: x-large;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

#selects {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}

input {
    width: 78.5%;
    height: 25px;
    margin-left: 10.5%;
    border: solid rgb(12, 6, 7);
    border-radius: 30px;
    border-width: 1px;
}

#border {
    border: solid rgb(12, 6, 7);
    list-style: none;
    margin: auto;
    width: 90%;
    height: 530px;
    direction: ltr;
    overflow: auto;
    border-radius: 1%;
}

#border #section {
    background: #cce5ff;
    margin: 1%;
    padding: 1%;
}

#section {
    padding-bottom: 1%;
}

#border2 {
    border: solid rgb(12, 6, 7);
    list-style: none;
    margin: auto;
    width: 90%;
    height: 120px;
    direction: ltr;
    margin-top: 2%;
    border-radius: 1%;
}

#border2 #section {
    background: #cce5ff;
    margin: 1%;
    padding: 1%;
    padding-bottom: 2%;
}

.button {
    width: 290%;
    height: 40px;
    margin-left: 23%;
    margin-top: 5%;
    border: solid rgb(12, 6, 7);
    border-radius: 30px;
    border-width: 1px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: x-large;
    background-color: white;
    color: black;
}

.button:hover {
    background-color: rgb(15, 24, 136);
    color: white;
}